[Unit]
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
ExecStart={{ app_binary_file_dest }}/{{ app_name }}
Restart=always
User={{ app_user_name }}
Group={{ app_user_group }}
EnvironmentFile=/etc/{{ app_name }}-environment

[Install]
Alias=feedbot
